build/*
out/*
.gradle/*
.idea
.classpath
.gitignore.swp
.project
.settings/
*.ids
gradle.properties
*.log
*.log.*
*.bak
bin/*
/bin
/build/
/WebContent/
/logs/
/.gradle/
*.ipr
*.iws
*.iml
target/
.idea/vcs.xml
